@use "./base.scss";

// put your custom CSS here!

// abbr
// source: https://stackoverflow.com/questions/34276581/display-abbr-and-acronym-on-mobile-devices
abbr[title]
{
  cursor: help;
}

abbr[data-title] {
    position: relative;
    text-decoration: underline dotted;
}

abbr[data-title]:not([data-title=""]):hover::after,
abbr[data-title]:not([data-title=""]):focus::after {
    content: attr(data-title);

    position: absolute;
    left: 0;
    bottom: -30px;
    width: auto;
    white-space: nowrap;

    background-color: #1e1e1e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    font-size: 14px;
    padding: 3px 5px;
}
